@tailwind base;
@tailwind components;

.button {
  @apply flex items-center justify-center px-3 py-1 rounded font-semibold;
}

@tailwind utilities;

@keyframes pulseOut {
  from {
    background-color: theme(colors.pink.400)
  }
  to {
    background-color: theme(colors.gray.200)
  }
}

.pulseOut {
  animation: 700ms pulseOut forwards;
}